p, h1, h2, h3,h4,h5,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

.font-link{
    font-family: 'Poppins', sans-serif;
    font-family: 'Orbitron', sans-serif;
}
input,select,textarea{
    font-family: 'Poppins', sans-serif;
    font-family: 'Orbitron', sans-serif;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-linkh1 {
    color: #005F6A;
}
h2 {
    font-size:2rem;
    font-weight: bold;
}
h3 {
    font-size: 1.75rem;
    font-weight: bold;

}
h4 {
    font-size: 1.5rem;
    font-weight: bold;

}
h5 {
    font-size: 1.25rem;
    font-weight: bold;
}
h6 {
    font-size: 1rem;
    font-weight: bold;
}
h7 {
    font-size: 0.75rem;
    font-weight: bold;
}
h8 {
    font-size: 0.5rem;
    font-weight: bold;
}

.btn-primary{
    background-color: #005F6A;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Orbitron', sans-serif;
}
.btn-danger{
    background-color: darkred;
}

.btn-danger:hover{
    background-color: red !important;
}

.btn-primary:hover{
    background-color: #65AFB5;
    border: none;
}

.btn-primary:active{
    background-color: #65AFB5;
    border: none;
}

.btn-primary:focus{
    background-color: #65AFB5;
    border: none;
}



